

.product {
  text-align: center;
}
.product__img {
  display: block;
  margin-left:auto;
  margin-right: auto;
  max-width:220px;

}
.product__cta {
  text-align: center;
  margin:20px auto 70px;
}

@media #{$medium-up} {
  .product-list {
    display: flex;
    align-items: center;
  }
  .product {
    flex: 1 1 50%;
    max-width: 50%;
    padding:0 10px;
  }
  .product__img {
    max-width:100%;
  }
  .product__cta {
    margin:20px auto;
  }
}
