.footer-container {
  // @include font-Lato();
  color: $footer-text-color;
  background: $footer-background;


  font-size: 0.6363636364rem;
  font-weight: normal;

  width: 100%;
  z-index: 5;
  padding-bottom: 60px;
  a {
    text-decoration: none;
  }
  img {
    display: block;
  }
  .four-column {
    margin: 0 auto;
    max-width: 1024px;
    padding: 20px 10px 20px;
  }
  .column {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 20px;
    &:last-child {
      align-items: center;
    }
  }
  .link-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    &:first-child {
      margin-top: 0;
    }
    .link-wrapper-col {
      margin-right:10px;
      text-align: right;
      &:first-child {
        img {
          margin-right:0;
        }
      }
      &:last-child {
        margin-right:0;
      }
    }
    a {
      display: block;
      margin-bottom:56px;
    }
    .nintendo-eshop,
    .vgames-rating {
      margin-bottom: 0;
    }
    .nintendo-eshop img {
      width:140px;
    }

  }
  .tcg-link {
    margin-right: 20px;
  }
}

.footer-button {
  align-items: center;
  border-radius: 0;
  border: solid 1px $lang-switcher-border-color;
  background: $lang-switcher-background;
  color: $lang-switcher-text-color;
  display: flex;
  flex-wrap: nowrap;
  font-size: 1rem;
  justify-content: center;
  padding: 8px;
  position: relative;
  transition: all .3s ease;
  min-width: 244px;
  &:hover {
    border: solid 1px $lang-switcher-border-color-hover;
    background: $lang-switcher-background-hover;
    color: $lang-switcher-text-color-hover;
  }
  .txt {
    display: block;
  }
  .flag {
    display: block;
    height: 16px;
    margin-left: 5px;
    position: relative;
    top: 1px;
    width: 24px;
  }
}

.social {
  .social-label {
    font-style: italic;
    margin: 40px 0 4px;
    text-align: center;
  }
  .social-list {
    display: flex;
  }
  .social-link {
    width: 46px;
    height: 46px;
    margin: 0 2px;
    border-radius: 50%;
    background: $social-background;
    border:solid 1px $social-border-color;
    line-height: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    .txt {
      display: none;
    }
    .icon {
      width: 25px;
      height: 25px;
      fill: $social-icon-color;
    }
    &:hover {
      background: $social-background-hover;
      border-color: $social-border-color-hover;
      .icon {
        fill: $social-icon-color-hover;
      }
    }
  }
}
.social--findus {
  .social-link {
    background: $findus-background;
    border:solid 1px $findus-border-color;

    .icon {
      fill: $findus-icon-color;
    }
    &:hover {
      background: $findus-background-hover;
      .icon {
        fill: $findus-icon-color-hover;
      }
    }
  }
}

.caru {
  margin-top: 16px;
}

.footer-link--pokemon-company {
  $img: 'footer/logo-pokemon-company.svg';
  color: transparent;
  display: block;
  font: 0/0 a;
  width: image-width($img) * 1.5;
  height: image-height($img) * 1.5;
  background: image-url($img) left top/contain no-repeat;
  margin-bottom: 10px;
}

.footer-legal {
  position: relative;
  text-align: center;
  p {
    font-size: 0.7rem;
    font-style: normal;
    margin: 0;
    padding-bottom: 15px;
  }
}

.footer-content {
  .inner {
    max-width: 930px;
    margin: 0 auto
  }
  .privacy-policy,
  .legal-info {
    font-size: 11px;
  }
}

.rating {
  display: flex;
  align-items: center;
}

.caru {
  // margin-left: 20px;
  justify-content: flex-end;
}

.caru-legal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 8px;
}

.caru-legal-divider {
  margin: 0 3px;
  display: none;
}

.section--footer {
  .bg-video {
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media #{$medium-up} {
  .footer-container {
    padding-bottom: 30px;
  }
  .footer-button {
    font-size: 1rem;
  }
  .section--footer {
    .bg-video {
      video,
      img {
        top: -30px;
      }
    }
  }
  .caru-legal {
    flex-direction: row;
  }
  .caru-legal-divider {
    display: block;
  }
  .footer-link--pokemon-company {
    //margin-bottom: 30px;
  }
  .footer-content {
    .inner {
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
    }
    .column {
      margin: 10px;
      &:first-child {
        flex-basis: 100%;
      }
      &:nth-child(2) {
        //align-items: flex-start;
      }
      &:last-child {
        //align-items: flex-end;
      }
    }
    .privacy-policy,
    .legal-info {
      line-height: 1.3;
    }
  }
}

@media #{$large-up} {
  .footer-wrapper {
    left: 50%;
    margin: 0 auto;
    max-width: 1440px;
    padding-top: 65px;
    transform: translateX(-50%);
    width: 100%;
  }
  .footer-content {
    .social-label {
      text-align: left;
    }
    .inner {
      justify-content: space-between;
    }
    .column {
      margin: 0;
      //align-items: flex-start;
      &:first-child {
        flex-basis: auto;
      }

      //&:last-child {
        //align-items: flex-end;
      //}
    }
  }
}

@media #{$xlarge-up} {
  .footer-container {
    padding-bottom: 10px;
  }
}

